---
import { getI18N } from '../../utils/i18n';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import BookingManager from '../BookingManager.jsx';
---

<div>
  <BookingManager i18n={i18n} />
</div>
